.pageContainer {
	composes: page-container from global;
	composes: container from global;
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-05);
	align-items: center;
	justify-content: center;
	padding-top: var(--spacing-08);
}

.pageHeading {
	composes: page-heading-med from global;
}
