.root {
	composes: container from global;
	margin-top: var(--spacing-06);
	display: flex;
	gap: var(--spacing-03);
	flex-direction: column;
}

.pageBodyText {
	composes: typography-body-large from global;
	margin: 0 auto;
}