@custom-media --small (max-width: 767px);
@custom-media --small-up (min-width: 0px);
@custom-media --medium (min-width: 768px) and (max-width: 1119px);
@custom-media --medium-up (min-width: 768px);
@custom-media --large (min-width: 1120px);

.content {
	composes: container from global;
	composes: grid from global;
	padding-top: var(--spacing-10);
	position: relative;

	& h2 {
		text-align: center;
	}

	& hr {
		background: var(--accent-2);
		height: 2px;
		width: 100%;
		border: 0;
		margin: 0;
	}
}

.sidebar {
	z-index: 1;

	@media (--small) {
		grid-column: 1/ -1;
	}

	@media (--medium-up) {
		width: max-content;
		grid-area: 1 / 1;
		margin-left: -24px;
	}
}

.link {
	color: var(--primary);
}

.details {
	grid-column: 1 / -1;
	grid-row: 2;
	display: flex;
	gap: var(--spacing-10);
	flex-direction: column;
	padding-top: var(--spacing-06);

	@media (--medium-up) {
		padding-top: 0;
		grid-row: 1;
		margin: 0 auto;
		max-width: 600px;
	}

	@media (--large) {
		/* grid-column: 3 / -1; */
	}
}

.options {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-09);

	@media (--medium-up) {
		gap: var(--spacing-11);
	}
}

.section {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-08);
	position: relative;
}

.sectionAnchor {
	position: absolute;
}
