.buttonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fullWidth {
	width: 100%;

	& > * {
		width: 100%;
	}
}

.button {
	background-color: var(--primary);
	color: var(--neutral);
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-02) var(--spacing-03);
	border-radius: 4px;
	text-decoration: none;
	transition: 0.25s;
	cursor: pointer;
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;

	&:hover {
		background-color: var(--dark);
	}
}

.disabled {
	background-color: var(--accent-light);
	color: var(--accent);
	cursor: not-allowed;

	&:hover {
		background-color: var(--accent-light);
	}
}

.buttonLink {
	composes: button;

	&:hover {
		text-decoration: underline;
	}
}
