@custom-media --small (max-width: 767px);
@custom-media --small-up (min-width: 0px);
@custom-media --medium (min-width: 768px) and (max-width: 1119px);
@custom-media --medium-up (min-width: 768px);
@custom-media --large (min-width: 1120px);

.root {
	composes: container from global;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	max-width: 1000px;
	flex-wrap: wrap;
	gap: 64px;
	text-align: center;

	@media (--large) {
		gap: 128px;
	}
}

.title {
	margin: 0 auto !important;
	composes: heading from global;
}

.image {
	objectfit: contain;
	height: auto;
	max-width: 100%;

	@media (--medium-up) {
		max-width: 500px;
	}
}
