:root {
	--color-dark: #141817;
	--color-highlight: #ecf1f4;
	--color-light: #fafcfe;
	--color-primary: #9cafaa;
	--color-primary-1: #b5c3bf;
	--color-primary-2: #cdd7d4;
	--color-primary-3: #e6ebea;
	--color-secondary: #84708f;
	--color-secondary-dark: #2e2932;
	--color-secondary-1: #a394ab;
	--color-secondary-2: #c1b7c7;
	--color-secondary-3: #efeffd;
	--color-tertiary: #f6f2e7;
	--color-tertiary-2: #f7ddcd;
	--color-tertiary-1: #f3cdb4;
	--color-tertiary-3: #fbeee6;
	--color-accent: #f4d6c1;
	--color-accent-2: #eaece3;
	--color-accent-3: #290001;
	--color-text-body: #172723;
	--color-text-subtle: #8c8ca1;
	--color-nav: var(--color-tertiary);

	/* @media (prefers-color-scheme: dark) {
		--primary: #9cafaa;
		--secondary: #84708f;
		--dark: #141817;
		--highlight: #ecf1f4;
		--light: #fafcfe;
		--tertiary: #efbc9b;
		--primary-1: #b5c3bf;
		--primary-2: #cdd7d4;
		--primary-3: #e6ebea;
		--secondary-1: #a394ab;
		--secondary-2: #c1b7c7;
		--secondary-3: #efeffd;
		--tertiary-2: #f7ddcd;
		--tertiary-1: #f3cdb4;
		--tertiary-3: #fbeee6;
		--accent: #d6dac8;
		--accent-2: #eaece3;
		--text-body: #172723;
		--text-subtle: #8c8ca1;
	} */
}
