:root {
	#rsvp-widget {
		max-width: 90%;
		margin: 0 auto;
	}
	.rsvp-survey {
	}

	.survey {

	}
	

	.rsvp-form {
	}

	#widget-oursvp {
		.rsvp-btn {
			cursor: pointer;

			&:hover {
				filter: unset;
			}
		}
	}

	input {
	}
}
