.typography-heading-1 {
	font-family: 'tt-ricordi-nobili';
	font-weight: 700;
	font-size: 64px;
	text-decoration: none;
}

.page-heading {
	text-align: center;
	font-family: 'tt-ricordi-nobili';
	line-height: 10rem;
	font-size: 8rem;
	font-weight: 400;

	@media (max-width: 999px) {
		line-height: 8rem;
		font-size: 6rem;
	}

	@media (max-width: 767px) {
		line-height: 6rem;
		font-size: 4rem;
	}
}

.page-heading-med {
	text-align: center;
	font-family: 'tt-ricordi-nobili';
	font-size: 6rem;
	font-weight: 400;
	line-height: 110%;

	@media (max-width: 999px) {
		font-size: 4rem;
	}

	@media (max-width: 767px) {
		font-size: 3rem;
	}
}

.typography-heading-2 {
	font-family: 'tt-ricordi-nobili';
	font-weight: 700;
	font-size: 40px;
	text-decoration: none;
}

.typography-heading-3 {
	font-weight: 700;
	font-size: 24px;
	text-decoration: none;
	letter-spacing: -2%;
}

.typography-subtitle {
	font-weight: 500;
	font-size: 24px;
	text-decoration: none;
	letter-spacing: 0px;
}

.typography-body-large {
	font-weight: 500;
	font-size: 22px;
	line-height: 120%;
	text-decoration: none;
	letter-spacing: 0px;
}

.typography-body {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0px;
}

.typography-bold {
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 0px;
}

.typography-small {
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0px;
}

.typography-pretitle {
	font-weight: 700;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 3%;
}

.typography-button {
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 4%;
}

.typography-link {
	font-weight: 700;
	font-size: 16px;
	text-decoration: underline;
	letter-spacing: 0px;
}
