@custom-media --small (max-width: 767px);
@custom-media --small-up (min-width: 0px);
@custom-media --medium (min-width: 768px) and (max-width: 1119px);
@custom-media --medium-up (min-width: 768px);
@custom-media --large (min-width: 1120px);

.title {
	font-size: 72px;
	font-weight: 400;

	@media (--medium-up) {
		font-size: 98px;
	}
}

.heading {
	font-size: 56px;
	font-weight: 400;

	@media (--medium-up) {
		font-size: 72px;
	}
}

.subheading {
	font-size: 24px;
	font-weight: 400;

	@media (--medium-up) {
		font-size: 32px;
	}
}

.heading-2 {
	font-size: 38px;
	font-weight: 400;
}

.heading-3 {
	font-size: 28px;
}

.body {
	font-size: 18px;
	font-weight: 400;
}

.subtitle {
	font-size: 12px;
	text-transform: uppercase;
}