.typography-heading-1 {
	font-family: 'tt-ricordi-nobili';
	font-weight: 700;
	font-size: 64px;
	text-decoration: none;
}

.typography-heading-2 {
	font-family: 'Nunito';
	font-weight: 700;
	font-size: 40px;
	text-decoration: none;
	letter-spacing: -2%;
}

.typography-heading-3 {
	font-family: 'Nunito';
	font-weight: 700;
	font-size: 24px;
	text-decoration: none;
	letter-spacing: -2%;
}

.typography-subtitle {
	font-family: 'Nunito';
	font-weight: 500;
	font-size: 24px;
	text-decoration: none;
	letter-spacing: 0px;
}

.typography-body {
	font-family: 'Nunito';
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0px;
}

.typography-bold {
	font-family: 'Nunito';
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 0px;
}

.typography-small {
	font-family: 'Nunito';
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0px;
}

.typography-pretitle {
	font-family: 'Nunito';
	font-weight: 700;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 3%;
}

.typography-button {
	font-family: 'Nunito';
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 4%;
}

.typography-link {
	font-family: 'Nunito';
	font-weight: 700;
	font-size: 16px;
	text-decoration: underline;
	letter-spacing: 0px;
}
