.registryPage {
	height: var(--page-height);
	position: relative;
}

.registryLinkContainer {
	margin-top: var(--spacing-08);
	display: flex;
	width: 100%;
	justify-content: center;

	& > a {
		opacity: 0;
		background-color: var(--color-tertiary);
	}

	&.isMounted {
		& > a {
			opacity: 1;
		}
	}
}
