.root {
	composes: container from global;

	@media (max-width: 767px) {
		padding: 0;
		max-width: 100%;
	}
}

.hero {
	display: grid;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);

		@media (min-width: 768px) {
			border-radius: 20px;
		}
	}
}

.heroImage {
	max-height: 400px;
	grid-area: 1 / 1;
	width: 100%;
	object-fit: cover;
	position: relative;

	@media (min-width: 768px) {
		border-radius: 20px;
	}
}

.heroText {
	color: var(--light-accent);
	z-index: 1;
	grid-area: 1 / 1;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.heroTitle {
	composes: page-heading from global;
	font-weight: 600;
	color: var(--color-secondary-3);
}
