.layout {
	margin: 0;
	width: 100vw;
	font-family: var(--montaga);

	& i {
		height: fit-content;
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& p {
		margin-top: 0;
		margin-bottom: 0;
	}

	& p {
		line-height: 1.5;
		letter-spacing: 0.2px;
	}
}
