.main {
	height: var(--page-height);
	width: 100%;
	position: relative;
}

.heading {
	text-align: center;
	padding-top: 50%;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-08);
	text-transform: uppercase;

	& h1 {
		background: var(--light-accent);
	}

	@media (min-width: 768px) {
		max-width: 600px;
		padding-top: 10%;
	}
}
