@custom-media --small (max-width: 767px);
@custom-media --small-up (min-width: 0px);
@custom-media --medium (min-width: 768px) and (max-width: 1119px);
@custom-media --medium-up (min-width: 768px);
@custom-media --large (min-width: 1120px);

.homePage {
	background: var(--background);
	min-height: 100vh;
}

.main {
	padding-top: 60px;
	padding-bottom: 60px;

	@media (--large) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 60px;
	gap: 52px;
}

.accent {
	color: var(--accent-2);
}

.details {
	display: flex;
	gap: var(--spacing-02);
	flex-wrap: wrap;

	@media (--medium) {
		gap: var(--spacing-04);
	}

	@media (--large) {
		gap: var(--spacing-06);
	}
}

.imageContainer {
	max-width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	padding: 0 var(--spacing-06);

	& img {
		max-width: 100%;
		height: auto;

		@media (--large) {
			max-width: 600px;
		}
	}
}
