.main {
	height: var(--page-height);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('./images/page-border-bottom.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.heading {
	composes: page-heading from global;
}
