@custom-media --small (max-width: 767px);
@custom-media --small-up (min-width: 0px);
@custom-media --medium (min-width: 768px) and (max-width: 1119px);
@custom-media --medium-up (min-width: 768px);
@custom-media --large (min-width: 1120px);

.root {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-02);
	margin: 0 auto;

	&.center {
		align-items: center;
		text-align: center;
	}

	@media (--medium-up) {
		max-width: 600px;
	}
}

.subtitle {
	line-height: 1.8;

	& a {
		color: var(--accent-2);
	}
}
