.main {
	height: var(--page-height);
	width: 100%;
	position: relative;
	z-index: 1;
}

.image {
	width: 100%;

	@media (min-width: 768px) {
		max-width: 40%;
	}
}

.container {
	display: grid;
	grid-gap: var(--spacing-01);
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-auto-rows: 75px;
}

.content {
	composes: container from global;
}

.hero {
	display: grid;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 20px;
	}
}

.heroImage {
	max-height: 400px;
	grid-area: 1 / 1;
	width: 100%;
	border-radius: 20px;
	object-fit: cover;
	position: relative;
}

.heroText {
	color: var(--light-accent);
	z-index: 1;
	grid-area: 1 / 1;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.heroTitle {
	composes: page-heading from global;
	font-weight: 600;
	color: var(--color-secondary-3);
}

.sectionHeadingWrapper {
	margin-top: var(--spacing-02);
	margin-bottom: var(--spacing-02);
	background-color: var(--site-background-color);
	display: flex;
	width: fit-content;
}

.sectionHeading {
	composes: typography-heading-2 from global;
}

.gallery {
	width: 100%;
	max-width: 100%;
}

.galleryGridContainer {
	position: relative;
	display: grid;
	grid-gap: 20px;
	margin-top: 20px;
	text-align: center;
}

.galleryGridItem {
	position: relative;

	@media (min-width: 768px) {
		cursor: pointer;
	}
}

.galleryGridSection {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;

		/* &:nth-of-type(5n + 1) {
			& .galleryGridItem:first-of-type {
				grid-area: 1/1/4/3;
			}
			& .galleryGridItem:nth-child(4) {
				grid-area: 2/3/2/5;
			}
		} */
		/* &:nth-of-type(5n + 2) {
			& .galleryGridItem:last-of-type {
				grid-area: 1/3/3/5;
			}
		} */
		/* &:nth-of-type(5n + 4) {
			& .galleryGridItem:last-of-type {
				grid-area: 1/2/4/5;
			}
		}
		&:nth-of-type(5n + 5) {
			& .galleryGridItem:last-of-type {
				grid-area: 1/1/3/3;
			}
		} */
	}

	@media (min-width: 1000px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;

		/* &:nth-of-type(5n + 1) {
			& .galleryGridItem:first-of-type {
				grid-area: 1/1/4/4;
			}
			& .galleryGridItem:nth-child(4) {
				grid-area: auto;
			}
		} */
	}
}

.galleryImage {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	vertical-align: baseline;
	object-fit: cover;
}

.dialogImage {
	object-fit: cover;
	border-radius: 12px;
	max-height: calc(100% - 48px);
	max-width: calc(100vw - 48px);
	width: auto;
	overflow: hidden;
	display: flex;
}

.dialogOverlay {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	inset: 0;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 1;
	border-radius: 6px;
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	height: 100vh;
}
.dialogContent:focus {
	outline: none;
}

.iconButton {
	background: var(--light-accent);
	font-family: inherit;
	border-radius: 12px;
	height: 25px;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--accent-dark);
	position: absolute;
	top: 24px;
	right: 24px;
	padding: 0;
	cursor: pointer;
	box-shadow: 0 0 0 2px var(--accent-dark);

	& svg,
	& path {
		fill: var(--accent-dark);
	}
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
