.desktopNav {
	display: none;

	@media (min-width: 769px) {
		display: flex;
	}
}

.mobileNav {
	display: flex;

	@media (min-width: 769px) {
		display: none;
	}
}

.nav {
	composes: typography-body-large from global;
	display: flex;
	width: 100vw;
	height: 62px;
	align-items: center;
	justify-content: flex-end;
	padding: 0 24px;
	color: var(--accent-dark);
}

.navList {
	display: flex;
	gap: var(--spacing-03);
}

.link {
	position: relative;
}

.isActive {
	&::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: -3px;
		width: calc(100% + 6px);
		height: 2px;
		background-color: var(--accent-dark);
	}
}

.iconButton {
	cursor: pointer;
}
