@custom-media --small (max-width: 767px);
@custom-media --small-up (min-width: 0px);
@custom-media --medium (min-width: 768px) and (max-width: 1119px);
@custom-media --medium-up (min-width: 768px);
@custom-media --large (min-width: 1120px);

.root {
	height: 62px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	top: 0;
	z-index: 4;
	background: inherit;
	position: sticky;
	justify-content: center;
}

.nav {
	composes: container from global;
	margin: 0;
	display: flex;
	justify-content: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	text-decoration: none;
	letter-spacing: 0px;
	max-width: 100%;
	overflow-x: scroll;
}

.navList {
	display: flex;
	gap: 16px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 14px;
	overflow: scroll;
	max-width: 100%;

	@media (--medium-up) {
		gap: var(--spacing-05);
	}
}

.link {
	color: var(--primary);
	position: relative;
	text-decoration: none;
}

.isActive,
.link:hover {
	&::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: -3px;
		width: calc(100% + 6px);
		height: 2px;
		background-color: var(--primary);
	}
}
